################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeFirstConsoleApp1/.vs/CodeFirstConsoleApp1
